<div id="site-creation-container" ng-controller="siteCreationCtrl">
  <form name="siteCreationform">
    <!-- Screen 1 Start -->
    <div id="page-1" ng-show="page1">
      <div id="header-container-page-1">
        <div id="header-container-group-1">
          <div class="step center"><span class="stepEnable">1</span></div>
          <div class="step center"><span class="stepDisable">2</span></div>
          <div class="step center"><span class="stepDisable">3</span></div>
        </div>
        <div class="clear"></div>
        <div id="header-container-group-2">
          <div class="step center">Type of Site</div>
          <div class="step center">Starter Content Options</div>
          <div class="step center">Theme, and Finish</div>
        </div>
        <div class="clear"></div>
        <div id="header-container-group-3">
          <div class="center"><h2> What type of Site Would you like to Create? </h2></div>
          <div class="center"><a href="#">Learn More About Site Types </a></div>
        </div>
      </div>
      <div class="clear"></div>
      <div id="body-container">
        <div id="body-container-group-1">
          <div class="site-type center">
            <div><a class="button" ng-click="display = 'individualScholar'" title="Individual Scholar">Individual Scholar</a></div>
            <div id="individual-scholar" class="popup" ng-show="display == 'individualScholar'">
              <div class="left"><b>URL of the Site</b></div>
              <div class="clear"></div>
              <div>
                <span>{{baseURL}}</span>
                <span><input type="text" name="individualScholar" ng-model="individualScholar" formcheck-Directive ng-keyup="clearRest('individualScholar');" id="individual-scholar"></span>
              </div>
              <div ng-messages="siteCreationform.individualScholar.$error">
                <div class="error-msg" ng-message="permission">You don't have permission to create site</div>
                <div class="error-msg" ng-message="isinvalid">Invalid URL specified</div>
                <div class="error-msg" ng-message="sitename">Site name is already taken</div>
              </div>
            </div>
          </div>
          <div class="site-type center">
            <div><a class="button" ng-click="display = 'projectLabSmallGroup'">Project/Lab/Small Group</a></div>
            <div id="project-lab-small-group" class="popup" ng-show="display == 'projectLabSmallGroup'">
              <div class="left"><b>URL of the Site</b></div>
              <div class="clear"></div>
              <div>
                <span>{{baseURL}}</span>
                <span><input type="text" name="projectLabSmallGroup" ng-model="projectLabSmallGroup" formcheck-Directive ng-keyup="clearRest('projectLabSmallGroup');" id="project-lab-small-group"></span>
              </div>
              <div ng-messages="siteCreationform.projectLabSmallGroup.$error">
                <div class="error-msg" ng-message="permission">You don't have permission to create site</div>
                <div class="error-msg" ng-message="isinvalid">Invalid URL specified</div>
                <div class="error-msg" ng-message="sitename">Site name is already taken</div>
              </div>
            </div>
          </div>
          <div class="site-type center">
            <div><a class="button" ng-click="display = 'departmentSchool'">Department/School</a></div>
            <div id="department-school" class="popup" ng-show="display == 'departmentSchool'">
              <div class="left"><b>URL of the Site</b></div>
              <div class="clear"></div>
              <div>
                <span>{{baseURL}}</span>
                <span><input type="text" name="departmentSchool" ng-model="departmentSchool" formcheck-Directive ng-keyup="clearRest('departmentSchool');" id="department-school"></span>
              </div>
              <div ng-messages="siteCreationform.departmentSchool.$error">
                <div class="error-msg" ng-message="permission">You don't have permission to create site</div>
                <div class="error-msg" ng-message="isinvalid">Invalid URL specified</div>
                <div class="error-msg" ng-message="sitename">Site name is already taken</div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div id="body-container-group-2">
            <div class="visibility">
              <div>
                <span class="enlarged-text" ng-switch="vsite.value">Choose who can view your site: 
                  <b ng-switch-when="0">Public on the web</b>
                  <b ng-switch-when="1">Invite only during site creation</b>
                  <b ng-switch-when="2">Anyone with a link</b>
                  <b ng-switch-when="3">Harvard Community</b>
                </span>
                <a ng-click="toggleFunc()">Change</a>
              </div>
              <div ng-show="showAll">
                <p><input type="radio" ng-model="vsite.value" value="0"><b>Public on web</b><br>
                  Anyone on the internet can view your site. Your site will be shown in search results. No sign-inrequired.
                </p>
                <p><input type="radio" ng-model="vsite.value" value="1"><b>Invite only during site creation</b><br>
                  Only site members can view your site. Your site will not be indexed by search engines.
                </p>
                <p><input type="radio" ng-model="vsite.value" value="2"><b>Anyone with a link</b><br>
                  Anyone who has the URL to your site can view your site. Your site will not be indexed by search engines. 
                </p>
                <p><input type="radio" ng-model="vsite.value" value="3"><b>Harvard Community</b><br>
                  Only the harvard community can access your site. Sign-in via HarvardKey required. 
                </p>
              </div>
            </div>
            <div class="visibility right"><span class="enlarged-text"><a href="#">Learn more about site visibility</a></span></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div id ="footer-container">
        <div id="pre">&nbsp;</div>
        <div id="nxt"><input type="button" class="preNxt" value="Next" ng-disabled="btnDisable == true" ng-click="navigatePage('page1','page2');"></div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- Screen 2 Start -->
    <div id="page-2" ng-show="page2">
      <div id="header-container-page2">
        <div id="header-container-group-1-page2">
          <div class="step center"><span class="stepDisable">1</span></div>
          <div class="step center"><span class="stepEnable">2</span></div>
          <div class="step center"><span class="stepDisable">3</span></div>
        </div>
        <div class="clear"></div>
        <div id="header-container-group-2-page2">
          <div class="step center">Type of Site</div>
          <div class="step center">Starter Content Options</div>
          <div class="step center">Theme, and Finish</div>
        </div>
        <div class="clear"></div>
        <div id="header-container-group-3-page-2">
          <div class="center"><h2> Choose a Starter Content Option </h2></div>
        </div>
      </div>
      <div class="clear"></div>
      <div id="body-container-page2">
        <div id="body-container-group-page-2">
          <div class="visibility">
            <div>
              <p><input type="radio" ng-model="contentOption.value" value="os_department_minimal">
              <span class="enlarged-text"><b> Minimal setup, with no pre-set menu links and pages </b></span>
              </p>
              <p><input type="radio" ng-model="contentOption.value" value="os_department">
              <span class="enlarged-text"><b>Academic Department with pre-set menu links and pages</b></span><br>
              Academic, Research, and People links will be added to the main menu. Don't worry, you'll be able to change this later if you are't sure now. 
              </p>
              <p><input type="radio" ng-model="contentOption.value" value="hwp_administrative">
              <span class="enlarged-text"><b>Administrative Department with pre-set menu links and pages</b></span><br>
              Academic2, Research2, and People2 links will be added to the main menu. Don't worry, you'll be able to change this later if you are't sure now.
              </p>
            </div>
            <div class="visibility right"><span class="enlarged-text"><a href="#">Learn more about starter content options</a></span></div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div id="footer-container">
        <div id="pre"><input type="button" class="preNxt" value="Back" ng-disabled="btnDisable == true"  ng-click="navigatePage('page2','page1');"></div>
        <div id="nxt"><button type="button" class="preNxt" ng-disabled="btnDisable == true" ng-click="saveAllValues();" button-spinner="site_creation_form" spinning-text="Saving">Next</button></div>
      </div>
    </div>
    <div class="clear"></div>
    <!-- Screen 3 Start -->
    <div id="page-3" ng-show="page3">
      <div id="header-container-page3">
        <div id="header-container-group-1-page3">
          <div class="step center"><span class="stepDisable">1</span></div>
          <div class="step center"><span class="stepDisable">2</span></div>
          <div class="step center"><span class="stepEnable">3</span></div>
        </div>
        <div class="clear"></div>
        <div id="header-container-group-2-page3">
          <div class="step center">Type of Site</div>
          <div class="step center">Starter Content Options</div>
          <div class="step center">Theme, and Finish</div>
        </div>
        <div class="clear"></div>
        <div id="header-container-group-3-page-3">
          <div class="center"><h2> Theme, and Finish </h2></div>
        </div>
      </div>
      <div class="clear"></div>
      <div id="body-container-page3">
        <div id="body-container-group-page-3">
          <div class="visibility">
            <div class=“onepage-themes”>
              <h2>One page / horizontal homepage layout themes</h2>
              <h3>Mobile-friendly themes with horizontal homepage regions. How to use these themes.</h3>
              <div class=“theme-name-one”>
                <img src=“thumbnail-1.png”>
                <span>Theme Name One</span>
              </div>
              <div class=“theme-name-two”>
                <img src=“thumbnail-2.png”>
                <span>Theme Name Two</span>
              </div>
              <div class=“theme-name-three”>
                <img src=“thumbnail-3.png”>
                <span>Theme Name Three</span>
              </div>
            </div>
            <div class=“featured-themes”>
              <h2>Featured themes</h2>
              <h3>Mobile-friendly themes using Harvard color palettes.</h3>
              <div class=“theme-name-one”>
                <img src=“thumbnail-1.png”>
                <span>Theme Name One</span>
              </div>
              <div class=“theme-name-two”>
                <img src=“thumbnail-2.png”>
                <span>Theme Name Two</span>
              </div>
              <div class=“theme-name-three”>
                <img src=“thumbnail-3.png”>
                <span>Theme Name Three</span>
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <div id="footer-container">
        <div id="pre"><input type="button" class="preNxt" value="Back" ng-disabled="btnDisable == true"  ng-click="navigatePage('page3','page2');"></div>
        <div id="nxt"><input type="button" class="preNxt" value="Next"  ng-disabled="btnDisable == true" ng-click="navigatePage('page3','page3'); saveAllValues();"></div>
      </div>
    </div>
  <form>
</div>
