<div class="container-fluid">
    <div class="file-search" ng-show="numFiles">
        <label for="file-search-input">Search</label>
        <input id="file-search-input" type="text" ng-model="$parent.search" class="form-text" size="30" maxlength="128">
    </div>
    <div js-pager="file in files | mbFilename:$parent.search track by file.id" page-size="10">
        <div class="media-item" data-fid="{{file.id}}" ng-click="$parent.setSelection(file.id)" ng-class="{selected : $parent.selection == file.id}">
            <div class="media-item-thumbnail" ng-bind-html-unsafe="file.preview">
            </div>
            <div class="media-item-label" title="{{file.orig}}">
                {{file.name}} <!--<span ng-show="file.name != file.orig">({{file.orig}})</span>-->
            </div>
        </div>
    </div>
    <div class="loading" ng-show="numFiles==0">
        Loading...
    </div>
    <div id="file-edit-section" ng-show="selection">
        {{selection}}
        <div ng-include="selection_form"></div>
    </div>
</div>