<div class="container-fluid" ng-switch="$parent.pane">
    <div class="media-browser-buttons">
        <div class="media-browser-button" ng-class="{active:$parent.pane=='upload'}" ng-click="$parent.pane='upload'">Upload</div>
        <div class="media-browser-button" ng-class="{active:$parent.pane=='web'}" ng-click="$parent.pane='web'">Web</div>
        <div class="media-browser-button" ng-class="{active:$parent.pane=='library'}" ng-click="$parent.pane='library'">Library</div>
    </div>
    <div class="media-browser-panes">
        <div class="media-browser-pane" ng-switch-when="upload">
            <div id="media-browser-file-select" ng-file-select ng-file-change="$parent.checkForDupes($files, $event)" ng-accept="$parent.validate($file)">Select Files</div>
            <div id="media-browser-drop-box" ng-file-drop ng-file-change="$parent.checkForDupes($files, $event)" class="media-browser-drop-box"
                 drag-over-class="media-browser-drag-over" ng-multiple="true" allow-dir="true"
                 hide-on-drop-not-available="true" ng-accept="$parent.validate($file)">
                <span>or drag files here to upload them.</span>
            </div>
            <div id="media-browser-duplicate-check" ng-show="$parent.dupes.length > 0">
                <div class="media-browser-dupe" ng-repeat="dupe in $parent.dupes" ng-show="!dupe.processed" style="z-index: {{1000-$index}}">
                    A file with the name '{{dupe.name}}' already exists.
                    <div class="actions">
                        <div><button value="rename" ng-click="$parent.rename($index, $last)">Rename</button> The new name will be {{dupe.newName}}</div>
                        <div><button value="replace" ng-click="$parent.replace($index, $last)">Replace</button></div>
                        <div><button value="cancel" ng-click="$parent.cancelUpload($index, $last)">Cancel</button></div>
                    </div>
                    <div class="media-browser-dupe-counter" ng-show="$parent.dupes.length > 1">{{index}}/{{$parent.dupes.length}}</div>
                </div>
            </div>
        </div>
        <div class="media-browser-pane" ng-switch-when="web">
            Web
        </div>
        <div class="media-browser-pane" ng-switch-when="library">
            <div class="file-search" ng-show="numFiles">
                <label for="file-search-input">Search</label>
                <input id="file-search-input" type="text" ng-model="$parent.search" class="form-text" size="30" maxlength="128">
            </div>
            <div js-pager="file in files | mbFilename:$parent.search track by file.id" page-size="10">
                <div class="media-item" data-fid="{{file.id}}" ng-click="$parent.setSelection(file.id)" ng-class="{selected : $parent.selection == file.id}">
                    <div class="media-item-thumbnail" ng-bind-html="file.preview">
                    </div>
                    <div class="media-item-label" title="{{file.orig}}">
                        {{file.name}} <!--<span ng-show="file.name != file.orig">({{file.orig}})</span>-->
                    </div>
                </div>
            </div>
            <div class="loading" ng-show="numFiles==0">
                Loading...
            </div>
            <div id="file-edit-section" ng-show="selection">
                <div ng-include="selection_form"></div>
            </div>
        </div>
    </div>
</div>