<div>
  <div id="section-search">
    <div class="section-search-left">
      <div class="form-item"><label for="cp-title-text">Search By Title</label> <input id="cp-title-text" class="form-text" type="text" name="label" ng-model="label"/>
      </div>
    </div>
    <div class="section-search-center">
      <div class="form-item"><label for="cp-title-text">Filter By</label>
        <select>
          <option value="">All content types</option>
          <option value="blog">Blog</option>
          <option value="page">Page</option>
        </select>
        <select>
          <option value="">Taxonomy terms</option>
          <option value="test1">Test1</option>
          <option value="test2">Test2</option>
        </select>
      </div>
    </div>
    <div class="section-search-right">
      <div class="form-actions">
         <button ng-click="search(true)">Search</button>
     </div>
    </div>
  </div>
  <script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="checkboxes.checked" class="select-all" value="" />
  </script>
  <table ng-table="tableParams" class="table">
    <tr ng-repeat="node in tableParams.data" ng-class="{even: $even, odd: $odd}">
      <td header="'headerCheckbox.html'"><input type="checkbox" ng-model="checkboxes.items[node.id]" /></td>
      <td title="'Title'" sortable="'label'" ng-bind-html="node.link">{{node.link}}</td>
      <td title="'Type'"  sortable="'type'">{{node.type}}</td>
      <td title="'Author'" sortable="'author'">{{node.author}}</td>
      <td title="'Published'"  sortable="'publish_status'">{{node.publish_status}}</td>
      <td title="'Date(Updated)'"  sortable="'changed'">{{node.changed}}</td>
      <td>Action</td>
    </tr>
  </table>
  <div class="form-actions">
    <button ng-click="close(true)">Close</button>
  </div>
</div>
