<div class="multiselect-parent btn-group dropdown-multiselect">
  <div ng-if="displayType == 'term'">
    <span class="dropdown-toggle" ng-class="settings.buttonClasses" ng-click="toggleDropdown()">{{displayText}}</span>
  </div>
  <div ng-if="displayType == 'filter'">
    <button type="button" class="dropdown-toggle" ng-class="settings.buttonClasses" ng-click="toggleDropdown()">{{getButtonText()}}&nbsp;<span class="caret"></span></button>
  </div>
  <div class="dropdown-menu dropdown-menu-form" ng-style="{display: open ? 'block' : 'none', height : settings.scrollable ? settings.scrollableHeight : 'auto' }" style="overflow: scroll">
    <div ng-if="displayType == 'term'">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div ng-hide="!settings.showAllConentTypeCheckBox"><input type="checkbox" ng-checked="selectAllFlag" ng-model="selectAllFlag" ng-click="selectAllToggle()">All content type</div>
    <div ng-if="groups" ng-repeat-start="option in orderedItems" ng-show="getPropertyForObject(option, settings.groupBy) !== getPropertyForObject(orderedItems[$index - 1], settings.groupBy)" role="presentation" class="dropdown-header group-dropdown-toggle glyphicon glyphicon-triangle-right" ng-class="{'glyphicon-triangle-bottom' : {{orderedItems[$index]['vocab']}}}" ng-click="groupToggleDropdown(orderedItems, $index)">{{ getGroupTitle(getPropertyForObject(option, settings.groupBy)) }}
      <div ng-if="displayType == 'term'" ng-show="{{orderedItems[$index]['vocab']}}" ng-click="stopBubbling($event)"><input ng-show="displayText == 'Apply Term'" type="text" ng-model="orderedItems[$index]['termName']" value="">&nbsp;<button type="button" ng-show="displayText == 'Apply Term'" class="btn btn-primary" ng-click="addTerm(orderedItems[$index]['vid'])">Add term</button></div>
    </div>
    <div ng-if="groups" ng-repeat-end role="presentation" ng-show="{{orderedItems[$index]['vocab']}}">
      <a role="menuitem" tabindex="-1" ng-click="setSelectedItem(getPropertyForObject(option,settings.idProp))">
          <label><input class="checkboxInput" type="checkbox" ng-click="checkboxClick($event, getPropertyForObject(option,settings.idProp))" ng-checked="isChecked(getPropertyForObject(option,settings.idProp))" /> {{getPropertyForObject(option, settings.displayProp)}}</label>
        </a>
    </div>
    <div ng-show="groups == false" role="presentation" ng-repeat="option in options">
      <a role="menuitem" tabindex="-1" ng-click="setSelectedItem(getPropertyForObject(option,settings.idProp))">
          <label><input class="checkboxInput" type="checkbox" ng-click="checkboxClick($event, getPropertyForObject(option,settings.idProp))" ng-checked="isChecked(getPropertyForObject(option,settings.idProp))"> {{getPropertyForObject(option, settings.displayProp)}}</label>
        </a>
    </div>
    <div ng-if="displayType == 'term'" class="term-action">
      <button ng-show="displayText == 'Apply Term'" type="button" ng-click="applyTerm()" class="btn btn-primary">Apply</button>
      <button ng-show="displayText == 'Remove Term'" type="button" ng-click="removeTerm()" class="btn btn-primary">Remove</button>
    </div>
  </div>
</div>
