<span>
    <span ng-switch="menuRow.type">
        <span ng-switch-when="heading">
            <span toggle-open class="close-siblings" id="os-am-{{key}}" ng-class="{'toggleable': menuRow.children}">{{ menuRow.label }}</span>
        </span>
        <span ng-switch-when="link">
            <a ng-attr-href="{{menuRow.href || '#'}}" toggle-open class="close-siblings" id="os-am-{{ key }}" ng-class="{'toggleable': menuRow.children}">{{ menuRow.label }}</a>
        </span>
        <span ng-switch-when="directive">
            <span>{{ menuRow.label }}</span>
        </span>
    </span>
    <ul ng-if="menuRow.children">
        <li class='submenu' ng-class="{'has-sub': child.children, 'heading': child.type == 'heading'}" ng-repeat="(subkey, child) in menuRow.children">
            <span admin-panel-menu-row menu-row="child" key="{{ key + '-' + subkey }}"></span>
        </li>
    </ul>
</span>