  <button type="button" ng-show="admin_panel"></button>
      <div class="morph-content" ng-show="admin_panel">
        <div>
          <div class="content-style-sidebar">
            <a href="{{ paths.vsite_home }}?admin_panel=1" class="admin-menu-homeicon"></a>
            <span class="icon icon-close">&#171; Close</span>
            <div id="cssmenu">
              <ul>
                <li>&nbsp;</li>
                <li ng-repeat="(key, parent) in admin_panel" class="heading" ng-class="{'has-sub': parent.children}" admin-panel-menu-row menu-row="parent" key="{{key}}" ng-if="parent.access">
                </li>
                <!--REMOVE THIS LI WHEN BETA TESTING IS COMPLETE-->
                
              </ul>
            </div>
          </div>
        </div>
      </div>
        
