<div href="#" ng-click="showSites = ! showSites">My Sites</div>
<div class="account_tab_popout user_sites" ng-show="showSites">
	<div ng-repeat="(key, own) in [true,false]" ng-init="currentPage[key] = 0">
		<h3 ng-show="own" class="bottom_margin">My Sites</h3>
		<h3 ng-show="!own" class="bottom_margin">Other Sites</h3>
		<div ng-repeat="(key, site) in filtered = (site_data | filter:{owner: own}:strict) | limitTo: pageSize * (currentPage[key] + 1) | limitTo: pageSize * -1  " class="site-list">
			<ul class="user-sites">
				<li class="site-name"><a href="/node/{{ site.id }}" class="text_link">{{ site.title }}</a></li>
				<li class="button-add"><a ng-show="site.subsite_access" href="/site/register?parent={{ site.id }}" class="btton add">Add subsite</a></li>
				<li class="button-delete"><a ng-show="site.delete_access" href="/node/{{ site.id }}/delete" class="btton remove">Delete</a></li>
				<li class="button-delete"><a ng-show="! site.delete_access" href="/os/vsite/delete/{{ site.id }}" class="btton remove">Delete</a></li>
			</ul>
		</div>
		<div ng-if='filtered.length > pageSize' class='pager'>
			<button ng-disabled="currentPage[key] == 0" ng-click="currentPage[key]=currentPage[key]-1">
				&lt;
			</button>
			{{currentPage[key]+1}}/{{numberOfPages(filtered)}}
			<button ng-disabled="currentPage[key] >= filtered.length/pageSize - 1" ng-click="currentPage[key]=currentPage[key]+1">
				&gt;
			</button>
		</div>
	</div>
</div>
