<a href="#" ng-click="showSites = ! showSites">My Sites</a>
<div class="account_tab_popout user_sites">
<div ng-show="showSites" ng-repeat="own in [true, false]">
  <h3 ng-show="own">My Sites</h3>
  <h3 ng-show="!own">Other Sites</h3>
  <div ng-repeat="(key, site) in site_data | filter:{owner: true}:strict" >
    <!-- Dan add some popout markup to the div and basic skeliton and I can make the links all correct? -->
    <b>{{ site.title }}</b>
    <span ng-show="site.owner">Owned</span>
    <a ng-show="site.subsite_access" href="/site/register?parent={{ site.id }}" class="button add">Add subsite</a>
    <a ng-show="site.delete_access" href="/node/{{ site.id }}/delete" class="button remove">Delete</a>
    <a ng-show="! site.delete_access" href="/os/vsite/delete/{{ site.id }}" class="button remove">Delete</a>
  </div>
</div>
</div>
