.menu-container {
	    position: fixed;
    width: 130px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    transition-property: left;
    transition-duration: .125s;
    transition-timing-function: ease-in-out;
    transition-delay: .125s;
}
.menu-container.closed {
left: -130px;
   
}
	
button.close-menu-button {
    width: 30px;
    height: 30px;
    background-color: #ff0000;
    position: absolute;
    top: 50%;
    left: 100px;
    transition-property: left;
    transition-duration: .125s;
    transition-timing-function: ease-in-out;
    transition-delay: .125s;
}

.closed button.close-menu-button {
 
    left: 120px;
  
}