.icon-close {
    z-index: 100;
    display: block;
    overflow: hidden;
    background: url('/profiles/openscholar/themes/os_basetheme/images/scholarbase-sprite.png') 0 -926px no-repeat;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 3;
    cursor: pointer;
	position: absolute;
    top: 10px;
    right: 2px;
    font-size: 0;
}
.icon-close:hover {
    color: #a50a05;
}

.content-style-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.content-style-sidebar ul li a {
    display: block;
    padding: 12px 20px;
    color: #fff;
    font-size: 1.05em;
    /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.1); */
}
.content-style-sidebar ul li:last-child a {
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 770px) {
    .content-style-overlay {
        font-size: 75%;
    }
    .content-style-overlay .icon-close {
        top: 5px;
        right: 5px;
    }
}
