/* Icons */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'icomoon';
    src: url('fonts/icomoon/icomoon.eot?i64fx9');
    src: url('fonts/icomoon/icomoon.eot?#iefixi64fx9') format('embedded-opentype'), url('fonts/icomoon/icomoon.woff?i64fx9') format('woff'), url('fonts/icomoon/icomoon.ttf?i64fx9') format('truetype'), url('fonts/icomoon/icomoon.svg?i64fx9#icomoon') format('svg');
}
.icon-close {
    z-index: 100;
    display: block;
    overflow: hidden;
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 3;
    cursor: pointer;
}
.icon:before {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'icomoon';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-close::before {
    content: "\e601";
    color: #FFF;
}
.icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
}
.icon-close:hover {
    color: #a50a05;
}
.content-style-sidebar .icon-close {
    top: 0;
    right: 0;
    font-size: 1em;
}
.content-style-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.content-style-sidebar ul li a {
    display: block;
    padding: 12px 20px;
    color: #fff;
    font-weight: 400;
    font-size: 1.05em;
    /* box-shadow: inset 0 1px rgba(0, 0, 0, 0.1); */
}
.content-style-sidebar ul li:last-child a {
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.1), inset 0 -1px rgba(0, 0, 0, 0.1);
}

.content-style-sidebar ul .icon::before {
    display: inline-block;
    width: auto;
    margin-right: 20px;
    font-size: 1.5em;
    vertical-align: -10%;
    color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 770px) {
    .content-style-overlay {
        font-size: 75%;
    }
    .content-style-overlay .icon-close {
        top: 5px;
        right: 5px;
    }
}