.research-by-topic ul .item-list ul li:nth-child(9),
.tweet-divider,
.tweet-authorphoto,
.tweet-author,
.page-node.node-type-biblio #block-boxes-os-publications-recent,
#branding_footer,
#branding_header {
    display: none;
}
body,
.page-search .title a,
#content-column .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link,
.links a,
#footer ul.menu a,
.boxes-box-content h2,
.section-nav a,
#tinymce h2,
#tinymce h3,
#tinymce h4,
.block-boxes-os_taxonomy_fbt.navigation,
#footer ul.menu li ul li a,
.date-nav h3,
.front-top-featured h1.node-title {
    font-family: 'Quattrocento', sans-serif !important;
}
.node-type-page .breadcrumb,
.breadcrumb,
.breadcrumb a,
.region-header-third ul.nice-menu a,
#menu-bar ul.nice-menu a,
#boxes-box-site_info,
#boxes-box-site_info a,
h2.block-title,
#content-column h2,
#content-column h3,
#content-column h4,
#page-title,
.front .ui-tabs .ui-state-default a {
    font-family: 'Oswald', sans-serif !important;
}
.pager.mini-pager {
    font-size: .8em;
}
body,
body.not-front {
    font-size: 16px;
    color: #222;
}
#columns {
    margin-top: 0;
}
.front #columns {
    padding-top: 0;
    margin-top: 46px;
}
#main-content-header {
    height: 205px;
    margin-top: 10px;
    display: table;
    width: 980px;
}
#main-content-header h1#page-title {
    display: table-cell;
    vertical-align: middle;
}
.front #content-panels .region-content-first {
    background-color:#fff;
}


#menu-bar nav,
#menu-bar #block-os-primary-menu {
    width: auto;
}
h2.block-title {
    color: #545454;
}
.sidebar .block {
    border-top-style: solid;
    border-width: 3px;
}
.research-by-topic ul .item-list ul li,
#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover,
#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active,
.front .region-content-second,
#citation-wrapper,
body.node-type-biblio .biblio-export,
.sidebar .block-boxes-os_search_solr_more_like_this,
.os-files-other-list tr,
.os-files-other-list td {
    background-color: #f6f6f6;
}
.sidebar .block-boxes-os_search_solr_more_like_this {
    padding: 0 12px 0 12px;
}
.sidebar h2.block-title {
    padding: 15px 0;
}
.contact-page-info h2.block-title {
    padding: 0;
}
/* fontpage blocks*/

.front-four-lops h2.block-title {
    padding: 0px 0 0 0;
    height: 50px;
    width: 150px;
    line-height: 6.2em;
    background-repeat: no-repeat;
    margin: 0 auto 40px;
    background-position: center;
}
.front-four-lops .front-lop-papers h2.block-title {
    background-image: url('../images/icons/papers.svg?123');
    background-size: 57px;
}
.front-four-lops .front-lop-books h2.block-title {
    background-image: url('../images/icons/books.svg?123');
    background-size: 50px;
}
.front-four-lops .front-lop-presentations h2.block-title {
    background-image: url('../images/icons/presentations.svg?123');
    background-size: 50px;
}
#content-panels .front-lop-blockgrid .block-inner {
    margin-top: 5px;
    padding: 0 12px;
}
.block-os-search-solr {
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.block-os-search-solr.open {
    opacity: 9;
}
h1#page-title {
    font-size: 1.75em;
    line-height: 1.2em;
}
h3 {
    margin-bottom: 7px;
    font-weight: 300;
    font-size: 1.3em;
}
.node-person.node-teaser .field-name-field-person-photo,
.block-boxes-os_boxes_tabs .ui-widget,
.front .region-content-top .block-boxes-os_boxes_columns + .block-inner {
    margin-top: 0;
}
.front-top-cloumn .region-two-66-33-second {
    background: url('../images/working-paper_image.jpg') center right no-repeat;
    background-size: cover;
    margin: 0;
    box-shadow: inset 0 0 0 1000px rgba(0, 35, 45, .5);
    color: #fff;
    display: table;
}
.front-top-featured h2.block-title,
.front-top-cloumn .region-two-66-33-second a {
    color: #fff;
}
.front-top-featured {
    padding: 0 30px;
}
.front-top-featured .block-inner {
    margin: 0;
}
.front-top-cloumn .region-two-66-33-first {
    margin: 0;
    background: url('../images/homepage-left.jpg') center right no-repeat;
    background-size: cover;
    display: table;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
}
.front-top-cloumn .region-two-66-33-first .region-inner,
.front-top-cloumn .region-two-66-33-second .region-inner {
    vertical-align: middle;
    display: table-cell;
}
.front .block-boxes-os_boxes_columns .block-boxes-os_boxes_html.top-bio-teaser {
    width: 75%;
    margin: 0 auto !important;
    font-size: 1.3em;
    color: #fff;
}
.front .block-boxes-os_boxes_columns .block-boxes-os_boxes_html.top-bio-teaser a {
    font-size: .9em;
    text-decoration: none !important;
    border-bottom: 1px solid #fff;
    color: #fff;
}
a.os-arrow:after {
    content: '';
    background: url('../images/sprite.png') 3px -111px no-repeat;
    padding-right: 20px;
    -webkit-transition: all .125s linear;
    -moz-transition: all .125s linear;
    -o-transition: all .125s linear;
    transition: all .125s linear;
}
a.os-arrow:hover:after {
    content: '';
    background: url('../images/sprite.png') 6px -111px no-repeat;
    padding-right: 22px;
}
.front-lop-blockgrid {
    padding: 10px;
    border-top-style: solid;
    border-width: 4px;
    background-color: #fff;
    min-height: 400px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all .250s;
    transition: all .250s;
    position: relative;
    top: 0;
}
.front-lop-software-tabs:hover,
.front-lop-blockgrid:hover {
    position: relative;
    top: -9px;
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.30), -1px 0 0 rgba(0, 0, 0, 0.10), 1px 0 0 rgba(0, 0, 0, 0.10), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 6px 6px rgba(0, 0, 0, 0.30), -1px 0 0 rgba(0, 0, 0, 0.10), 1px 0 0 rgba(0, 0, 0, 0.10), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.30), -1px 0 0 rgba(0, 0, 0, 0.10), 1px 0 0 rgba(0, 0, 0, 0.10), 0 1px 0 rgba(0, 0, 0, 0.12);
}
.front-lop-software-tabs {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    -webkit-transition: all .250s;
    transition: all .250s;
    position: relative;
    top: 0;
}
.front-four-lops section {
    padding: 10px;
}
.front-lop-papers {
    border-color: #5AB899;
}
.front-lop-presentations,
.sidebar .block:nth-child(2) {
    border-color: #81b9c3;
}
.front-lop-software,
.sidebar .block:nth-child(3) {
    border-color: #E67939;
}
.sidebar .block:nth-child(1),
.sidebar .block:nth-child(4) {
    border-color: #3A4B68;
}
.block-boxes-os_search_solr_more_like_this,
.front-lop-books {
    border-color: #E45947 !important;
}
.ui-tabs {
    padding: 0;
}
.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover,
.ui-widget-header .ui-state-default:hover,
.ui-tabs .ui-widget-header .ui-state-active,
.ui-tabs .ui-tabs-panel,
.ui-tabs ul.ui-tabs-nav li.last,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border-top: none;
    border-right: none;
    border: none;
}
.ui-tabs ul.ui-tabs-nav li.ui-tabs-active a,
.front .ui-tabs .ui-state-default a {
    font-weight: 400;
    letter-spacing: 0;
    padding: 17px 12px;
    font-size: 1.25em;
    color: #545454;
}
.ui-tabs ul.ui-tabs-nav li.ui-tabs-active {
    border-top: 4px solid #ff884d;
}
#content-panels .block.front-top-cloumn,
#content-panels .front-lop-software-tabs .block {
    margin-bottom: 0;
}
.node-type-page .breadcrumb,
.breadcrumb,
.breadcrumb span,
.breadcrumb a,
h1#page-title {
    color: #fff !important;
}
.not-front #content-panels,
#main-content #content {
    margin-top: 20px;
}
.breadcrumb {
    position: relative;
    top: 60px;
}
.bg-one {
    background: url('../images/biocv-bg.jpg') center 61px no-repeat;
}
.bg-two {
    background: url('../images/software-bg.jpg') center 61px no-repeat;
}
.bg-three {
    background: url('../images/dataverse-bg.jpg') center 61px no-repeat;
}
.bg-four {
    background: url('../images/contact-bg.jpg') center 61px no-repeat;
}
.bg-five {
    background: url('../images/miscellania-bg.jpg') center 61px no-repeat;
}
.bg-six {
    background: url('../images/publications-bg.png') center 61px no-repeat;
}
.bg-seven {
    background: url('../images/researchgroup-bg.jpg') center 61px no-repeat;
}
.bg-eight {
    background: url('../images/teaching-bg.jpg') center 61px no-repeat;
}
.front #content-panels .region-content-bottom {
    background: url('../images/front-page-twitter-bg3.jpg') center -30px no-repeat;
    text-align: center;
    color: #fff;
    font-size: 1.3em;
    background-size: 100%;
}
.front #content-panels .region-content-bottom a {
    color: #7cabd8;
}
.block-boxes-os_boxes_twitterfeed h2.block-title {
    background: url('../images/sprite.png?m=1473xx') 0 -55px no-repeat;
    font-size: 0;
    height: 50px;
    width: 64px;
    padding: 0;
    margin: 0 auto;
}
.tweets-pulled-listing li {
    margin-top: 10px;
}
.biblio-title a,
a,
a:visited {
    color: #065DB2;
}
.biblio-title a,
.biblio-title-chicago a {
    font-weight: normal !important;
}
.front .region-content-second,
#citation-wrapper,
body.node-type-biblio .biblio-export {
    border: none;
}
#menu-bar {
    position: fixed !important;
    background: url('../images/menu-bg.png?m=1470430593') repeat-x #FFF;
    background-position: left top;
    padding-top: 6px;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 1;
    opacity: 1;
}
#menu-bar ul.nice-menu a {
    color: #444;
    border-bottom: 3px solid #fff;
    padding: 16px 14px 13px 14px;
    transition: all .125s linear .125s;
    font-size: 19px;
}
#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover,
#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active {
    border-bottom: 3px solid #32526e;
    color: #444;
}
#block-os-primary-menu .nice-menu li.last a {
    padding: 16px 22px 13px 22px;
    background: url('../images/sprite.png') no-repeat 3px 8px #065DB2;
    font-size: 0;
    border-bottom: 3px solid #065DB2;
}
#block-os-primary-menu .nice-menu li.last a:hover {
    cursor: pointer;
}
#block-os-primary-menu {
    float: right;
}
#block-boxes-site-info {
    float: left;
    width: 13% !important;
}
ul.nice-menu-down {
    float: right;
}
#boxes-box-site_info h1 {
    padding: 8px 0 8px 12px;
}
#block-os-search-solr-site-search {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 15px 0 15px 15px;
    background-color: #c7c7c7;
}
#search-block-form .form-item label {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}
#footer {
    background-color: #3e464d;
    border-top: 4px solid #999;
}
.footer .block-boxes-os_boxes_addthis {
    float: right
}
.research-by-topic ul .item-list ul li {
    display: inline-block;
    width: 23.4%;
    height: 300px;
    overflow: hidden;
    margin: 0 20px 10px 0;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: all .250s;
    background-color:#f6f6f6;
}
.research-by-topic ul .item-list ul li:hover {
    background-color:#f8f8f8;
   
}
.research-by-topic ul .item-list ul li:nth-child(4),
.research-by-topic ul .item-list ul li:nth-child(8)
 {
 margin-right: 0;
}

.research-by-topic ul .item-list ul li a {
    display: block;
   
    height: 50px;
    padding: 20px 15px 30px 15px;
    font-size: 1.1em;
    z-index: 2;
    position: relative;
    color: #fff;
    font-weight: bold;
    top: -82px;
     
}


.research-by-topic ul .item-list ul li:nth-child(1) a,
.research-by-topic ul .item-list ul li:nth-child(8) a {
    /* #5AB899; */
    background-color: rgba(90,184,153,0.8);
    transition:all .250s;
   
}

.research-by-topic ul .item-list ul li:nth-child(2) a,
.research-by-topic ul .item-list ul li:nth-child(7) a {
    /* #3B4B69;*/
     background-color: rgba(59,75,105,0.8);
      transition:all .250s;
    
}
.research-by-topic ul .item-list ul li:nth-child(3) a,
.research-by-topic ul .item-list ul li:nth-child(6) a {
    /*  #ff884d;*/
     background-color: rgba(255,136,77,0.8);
     transition:all .250s;
    
}
.research-by-topic ul .item-list ul li:nth-child(4) a,
.research-by-topic ul .item-list ul li:nth-child(5) a {
    /*  #81b9c3;*/
    background-color: rgba(129,185,195,0.8);
     transition:all .250s;
    
}


/* hover */

.research-by-topic ul .item-list ul li:hover:nth-child(1) a,
.research-by-topic ul .item-list ul li:hover:nth-child(8) a {
    /* #5AB899; */
    background-color: rgba(90,184,153,1);
    
   
}

.research-by-topic ul .item-list ul li:hover:nth-child(2) a,
.research-by-topic ul .item-list ul li:hover:nth-child(7) a {
    /* #3B4B69;*/
     background-color: rgba(59,75,105,1);
    
}
.research-by-topic ul .item-list ul li:hover:nth-child(3) a,
.research-by-topic ul .item-list ul li:hover:nth-child(6) a {
    /*  #ff884d;*/
     background-color: rgba(255,136,77,1);
    
}
.research-by-topic ul .item-list ul li:hover:nth-child(4) a,
.research-by-topic ul .item-list ul li:hover:nth-child(5) a {
    /*  #81b9c3;*/
    background-color: rgba(129,185,195,1);
    
}


.research-by-topic ul .item-list ul li a:after {
    content: '';
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    bottom: -14px;
    left: 44%;
    border: 1px solid #ccc;
    background: url("../images//sprite.png?abcd") 8px -141px #fff  no-repeat;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.research-by-topic ul .item-list ul li:nth-child(1) a:after,
.research-by-topic ul .item-list ul li:nth-child(8) a:after {
    /* #5AB899; */
   border: 1px solid rgba(90,184,153,0.7);
    
   
}

.research-by-topic ul .item-list ul li:nth-child(2) a:after,
.research-by-topic ul .item-list ul li:nth-child(7) a:after {
    /* #3B4B69;*/
      border: 1px solid rgba(59,75,105,0.7);
    
}
.research-by-topic ul .item-list ul li:nth-child(3) a:after,
.research-by-topic ul .item-list ul li:nth-child(6) a:after {
    /*  #ff884d;*/
     border: 1px solid  rgba(255,136,77,0.7);
    
}
.research-by-topic ul .item-list ul li:nth-child(4) a:after,
.research-by-topic ul .item-list ul li:nth-child(5) a:after {
    /*  #81b9c3;*/
    border: 1px solid rgba(129,185,195,0.7);
    
}

.research-by-topic ul .item-list ul li a:hover {
	
	
} .research-by-topic.block-boxes-os_taxonomy_fbt ul ul {
    margin: 0 !important;
}
.research-by-topic .term-head {
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 5px;
}
.research-by-topic ul .item-list ul li .description {
    transition: all .250s;
    padding: 10px;
    z-index: 1;
    position: relative;
    font-size:.95em;
    
}
