<div>
    <div class="grouper-header-bar" ng-click="ShowPanel(true)">Edit Groups</div><span ng-if="groups.length">{{SelectedGroupNames()}}</span>
    <div class="grouper-panel" ng-if="ShowPanel()">
        <fieldset>
            <legend>Selected Groups</legend>
            <div class="grouper-selected-fieldset-panel">
                <span class="group" ng-repeat="path in selected">{{GroupLabel(path)}}<span class="remove" ng-click="Remove(path)">X</span></span>
            </div>
        </fieldset>
        <div class="all-groups">
            <div class="group" ng-repeat="g in groups" ng-click="AddGroup(g.path)" ng-class="{selected: IsGroupSelected(g.path)">{{g.name}}</div>
        </div>
    </div>
</div>