<div ng-cloak>
    <div class="grouper-header-bar" ng-click="ShowPanel(true)">
        <span ng-show="status.loading" button-spinner="grouper_AllGroups" spinning-text="Loading Groups."></span>
        {{selected.length ? 'Edit Groups' : 'Add Groups'}}
        <span ng-if="!status.loading && !ShowPanel() && selected.length">{{SelectedGroupNames()}}</span>
        </div>
    <div class="grouper-panel" ng-if="ShowPanel()">
        
            <label>Selected Groups</label>
            <div class="grouper-selected-fieldset-panel">
                <span class="group" ng-repeat="path in selected">{{GroupLabel(path)}}<span class="remove" ng-click="Remove(path)">X</span></span>
                <span ng-if="selected.length == 0">No groups selected.</span>
            </div>
        
        <br>
        <label for="grouper-search">Filter By Name:</label>
        <input type="text" class="form-text" id="grouper-search" ng-model="search">
        <div class="all-groups">
            <div class="group" ng-repeat="g in Groups() | filter:{displayExtension:search}" ng-click="AddGroup(g.name)" ng-class="{selected: IsGroupSelected(g.name)}">{{g.displayExtension}}</div>
            <span ng-if="Groups().length == 0">There are no groups you can add, or there was an error getting the list of your groups.</span>
        </div>
    </div>
</div>
