.container-inline {
  padding: 2px 0px;
  margin: 0;
}

form fieldset {
  margin: 0;
  border: 0px none;
  padding: 0;
  padding-bottom: 5px;
  background: none;
}

form fieldset .fieldset-wrapper {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.buttons {
  margin-top: 1em;
  margin-bottom: 0;
}

.pager {
  text-align: center;
}

.pager .previous a,
.pager .next a {
  display: none;
}

form fieldset .fieldset-legend {
  margin: 0;
  padding-left: 0px;
  position: relative;
}

form input.form-text,
form textarea {
  background: none;
  padding: 0px;
  margin: 0px;
  width: auto;
}

form table td,
form table th {
  padding: 6px 8px;
}

form table th a.selected {
  font-weight: bold;
}

.results {
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.status_count {
  padding: 0px 40px;
}

input.hidden {
  display: none;
}

h1#page-title {
  background: none;
  padding-top: 20px;
}

.results table tr.even {
  background: #f3f4ee none repeat scroll 0 0;
}

.results table td {
  border: 1px solid #bebfb9;
}

#page.container {
  width: auto;
}
