.container-inline {
  padding: 0px;
  margin: 20px 0px;
}

.container-inline .form-item label {
  margin-right: 10px;
}

.container-inline .form-item label.option {
  margin-right: 15px;
}


form fieldset {
  margin: 20px 0px;
  border: 0px none;
  padding: 0;
  background: none;
  width: 100%;
}

form fieldset .fieldset-wrapper {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

form .container-inline fieldset{
  margin: 0px;
}

form fieldset .container-inline {
  margin: 2px 0px;
}

.buttons {
  margin-top: 0.25em;
  margin-bottom: 0;
}

form .buttons input.form-submit,
form a.button {
  margin-bottom: 0.25em;
}

.pager .container-inline {
  margin: 2px;
}

.pager {
  text-align: center;
}

.pager .previous a,
.pager .next a {
  display: none;
}

form fieldset .fieldset-legend {
  margin: 0px 0px 5px 0px;
  padding-left: 0px;
  position: relative;
  display: block;
}

form fieldset legend {
  font-size: inherit;
  line-height: inherit;
}

form input.form-text,
form textarea {
  background: none;
  padding: 0px;
  margin: 0px;
  width: auto;
  font-size: 0.9em;
  height: 1.5em;
}

form table td,
form table th {
  padding: 6px 8px;
}

form table th {
  vertical-align: bottom;
  line-height: 1.25em;
}

form table td {
  vertical-align: top;
}

form table th a,
form table td {
  white-space: nowrap;
}
.results {
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.status_count {
  padding: 0px 40px;
}

input.hidden {
  display: none;
}

section#main-content {
  padding-top: 10px;
}

h1#page-title {
  background: none;
  padding-top: 0px;
  font-size: 1.5em;
}

.results table tr.even {
  background: #f3f4ee none repeat scroll 0 0;
}

.results table td {
  border: 1px solid #bebfb9;
}

#page.container {
  width: auto;
  font-family: "Lucida Grande",Verdana,sans-serif;
}

form th.active {
  background-color: #bdbeb9;
}

form table th.nosort a {
  white-space: normal;
}

form th.asc a {
  background: url('/themes/seven/images/arrow-asc.png') no-repeat right;
}

form th.desc a {
  background: url('/themes/seven/images/arrow-desc.png') no-repeat right;
}

form th.nosort a {
  color: #000;
  text-decoration: none;
}

#page.container div.messages::before {
  background-image: none;
}

.container-inline .form-item-creationend label {
  margin-left: 10px;
}
