@import url('https://fonts.googleapis.com/css?family=Lora');


body *,
.region-header-third ul.nice-menu a,
#menu-bar ul.nice-menu a,
#boxes-box-site_info,
#boxes-box-site_info a {
    font-family: 'Lora';
        
}

h2.block-title {
    margin-bottom:15px;
    color:#444;
}

#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover,
#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active {
    color: #215990;
}
.event-start .event-start,
#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover,
#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active,
#footer,
#menu-bar ul.nice-menu ul {
    background-color: #ececec;
}

#menu-bar ul.nice-menu .menuparent.over > a:before, #menu-bar ul.nice-menu .menuparent a:hover:before, #menu-bar ul.nice-menu .menuparent a.active:before {
    background-position: -12px -566px;
}


ul.nice-menu ul {
    top: 2.82em !important;
}


.event-start .event-start {
    background-image: none;
   
}