<div>
    <div class="form-item">
        <label for="owl-field-text">Link Text</label>
        <input type="text" id="owl-field-text" ng-model="text" class="form-text">
        <div class="description">The text of the link. Leave blank to use the url of the link itself.</div>
    </div>
    <div class="form-item">
        <label for="owl-title-text">Title Text</label>
        <input type="text" id="owl-title-text" ng-model="title" class="form-text">
        <div class="description">The text will appear on mouse hover, and is used by screen readers. It will not appear for keyboard or touch-only users.</div>
    </div>
    <div class="form-item">
        <input type="checkbox" id="owl-target" ng-model="newWindow" class="form-checkbox"><label for="owl-target">Open this link in a new tab</label>
        <div class="description">Note: depending on usage, may cause accessibility concenrs. <a href="https://www.w3.org/TR/WCAG20-TECHS/G200.html" target="_blank">Learn more</a></div>
    </div>
    <div id="owl-nav-buttons">
        <div class="owl-tab-button" ng-class="{active: active == 'url'}" ng-click="active = 'url'">URL</div>
        <div class="owl-tab-button" ng-class="{active: active == 'email'}" ng-click="active = 'email'">E-mail</div>
        <div class="owl-tab-button" ng-class="{active: active == 'file'}" ng-click="active = 'file'">File</div>
    </div>
    <div id="owl-panes" ng-switch="active">
        <div index="href" id="href-link" ng-switch-when="url">
            <div class="form-item">
                <label for="owl-url">Website URL</label><input type="text" id="owl-url" ng-model="arg" class="form-text">
                <div class="description">The URL of the web page. Can be a link to one of your own pages.</div>
            </div>
        </div>
        <div index="email" id="email-link" ng-switch-when="email">
            <label for="owl-email">E-mail</label><input type="text" id="owl-email" ng-model="arg" class="form-text">
        </div>
        <div index="file" id="file-link" ng-switch-when="file">
            <div class="owl-file-controls">
                <div class="add_new">Add New
                    <div class="form-help">?</div>
                    <div class="description">Files must be less than <strong>{{filesize}}</strong>.<br />Allowed file types: {{extensionStr}}</div>
                    </div>
                Or
                <div class="search"></div>
            </div>
            <div class="owl-file-list">
                <div js-pager="f in files  track by f.id">
                    <div class="owl-file-item media-row" ng-class="{selected: f.id == arg}" ng-click="arg = f.id">{{f.name}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-actions">
        <button ng-click="close(true)">Insert</button>
        <button ng-click="close(false)">Close</button>
    </div>
</div>