div[file-edit] .full-url {
  float: left;
  padding: 5px 0;
}

div[file-edit] .fe-filepath-wrapper {
  display: block;
  overflow: hidden;
  padding-right: 18px;
}

div[file-edit] .control button {
  margin-right: 0 !important;
}

div[file-edit] input[type="text"] {
  margin-bottom: .1em;
  width: 95%;
}

div[file-edit] button {
  padding: 3px 5px;
}

div[file-edit] div.description {
  margin-bottom: 1.75em;
}

div[file-edit] div.display_inline {
  margin-top: .5em;
}

div[ng-include="fileEditAddt"] {
  background: #efefef;
  width: 97%;
  margin: 20px 0;
  padding-left: 10px;
}

.file-entity-loading {
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

.file-entity-loading-message {
  position: absolute;
  top: calc(50% - 259px/2);
  left: calc(50% - 175px/2);
  text-align: center;
  font-size: large;
  font-weight: bolder;
}

.file-entity-loading-message img {
  padding: 10px 0;
}

div[file-edit] h4,
[file-edit] .control,
[file-edit] .fe-replace-wrapper,
[file-edit] label {
  margin-top: 10px;
}

/* Error window */

[file-edit] div.error {
  position: absolute;
  top: 30%;
  left: calc(50% - (500px / 2));
  background-color: red;
  color: white;
  padding: 20px;
  border: 2px solid darkred;
  cursor: pointer;
  width: 450px;
}

[file-edit] span {
  white-space: pre-line;
}

[file-edit] div.error .error-close {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

[file-edit] input.error {
  border-color: red !important;
  outline-color: red !important;
}