@import url(https://fonts.googleapis.com/css?family=Ovo);
@import url(https://fonts.googleapis.com/css?family=Muli);


 #boxes-box-site_info, #boxes-box-site_info a{
    font-family: 'ovo',sans-serif !important;
}

#menu-bar ul.nice-menu a {
    font-family: 'muli',sans-serif !important;
}


body {
background-color:#ECF0F1;
}

#branding_header {
    display:none;
}

#boxes-box-site_info a {
    color: #fff;
}

#menu-bar {
   
background: #444;
   border-top:3px solid #E67E22;
    opacity: .60;
  
}

.header-none #menu-bar {
    top: 0;

   
}

#menu-bar ul.nice-menu a {
    
    font-size: 16px;
   
   
}

a.biblio-abstract-link.toggle {
 
    background-position:  0 -398px;
   
}