.apps-table {
  width: 100%;
}

[app-privacy-selector] {
  position: relative;
}

.privacy-popup {
  position: absolute;
  background-color: white;
  padding: 10px;
  z-index: 1;
}

.privacy-popup-selector.selected {
  font-weight: bold;
}