<div>
    <div class="margin_bottom-20">These settings pertain to individual apps. If you are looking for visibility for your entire site, go to Global Settings > Site Visibility.</div>
    <table class="apps-table enabled">
        <thead>
            <tr>
                <th width="60%">Apps this website is using</th>
                <th width="10%">&nbsp;</th>
                <th width="20%">Who can see this?</th>
                <th width="10%">Disable</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in apps | filter:{enabled: 1}" ng-class="{even: $even}">
                <td>{{a.title}}</td>
                <td><a href="{{a.help}}" class="apps-help-link">Learn more</a></td>
                <td><span app-privacy-selector ng-model="a.private"></span></td>
                <td><input type="checkbox" ng-model="a.disable"></td>
            </tr>
        </tbody>
    </table>

    <table class="apps-table disabled">
        <thead>
            <tr>
                <th>Apps not currently used by this website</th>
                <th>&nbsp;</th>
                <th>Enable</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in apps | filter:{enabled: 0}" ng-class="{even: $even}">
                <td>{{a.title}}</td>
                <td><a href="{{a.help}}" class="apps-help-link">Help Link</a></td>
                <td width="10%"><input type="checkbox" ng-model="a.enable"></td>
            </tr>
        </tbody>
    </table>

    <div class="actions form-actions">
        <button type="submit" ng-click="submit()" button-spinner="app-form" spinning-text="Saving">Save</button>
        <button ng-click="close()">Cancel</button>
    </div>
</div>