/* tabs and panes */

.media-browser-panes {
  border-top: 1px solid lightgray;
  margin: 3px;
  margin-top: 0;
  padding: 5px;
  height: 597px;
}

.media-browser-pane {
  position: relative;
}

.media-browser-buttons {
  margin: 0 3px -1px 3px;
}

.media-browser-button {
  width: 175px;
  height: 20px;
  border: 1px solid lightgray;
  display: inline-block;
  text-align: center;
  padding: 5px;
  background-color: #EFEFEF;
}

.media-browser-button.active {
  border-bottom: 1px solid white;
  background-color: #FFFFFF;
}

/* Search form */
div.file-filters {
  padding-bottom: .5em;
  border-bottom: 1px solid lightgray;
  margin-bottom: .75em;
  margin-right: 5px;
}

.file-filters .file-search {
  display: inline-block;
  margin-right: 30px;
}

.file-filters .file-type {
  display: inline-block;
  margin-right: 30px;
}

.file-filters select {
  width: 100px;
  border: 1px solid #CCC;
}

.file-filters .file-clear {
  display: inline-block;
}

#file-search-input {
  margin: 9px 0;
}

/* Full listing *
.results {
  margin-right: 230px;
  border-right: 1px solid lightgray;
}*/

/* Single file thumbnails */
.mb-preview .media-item {
  padding: 5px;
  width: auto;
}

.media-row .media-thumbnail {
  width: 50px;
  height: 50px;
}

.media-browser-pane .media-row {
  background: #FFFFFF;
  border: none;
  width: auto;
  padding: 5px 0 5px 5px;
}

.media-browser-pane .media-row:nth-child(odd) {
  background: #EFEFEF;
  border: 1px solid #EFEFEF;
}

.media-browser-pane .media-row:nth-child(even) {
  background: #FFF;
   border: 1px solid #FFF;
}

.media-browser-pane .media-row:hover {
  background: #e1e1e1;
}

.media-browser-pane .media-row.selected {
  background-color: #D1D6E2;
  border: 1px solid #999;
}

.media-browser-pane .media-row.new.selected {
  background-color: #DFE8BC;
}

.media-browser-pane textarea#fe-file-description,
.media-browser-pane textarea#media-browser-web {
	width:95%;
	min-height: 300px;
}

.media-browser-pane textarea#fe-file-description {
	min-height: 100px;
}

.mb-preview,
.mb-title,
.mb-filename,
.mb-created,
.mb-file-actions {
  display: inline-block;
  vertical-align: middle;
}

.media-browser-pane .results {
  margin-bottom: 12px;
}

#mb-library-header {
	text-transform:uppercase;
}

.mb-preview {
  width: 60px;
}

.mb-title {
  width: 250px;
    word-wrap: break-word;
}

.mb-filename {
  width: 250px;
    word-wrap: break-word;
}

.mb-created {
  width: 100px;
}

/**
 Contextual wrappers are out of place here
 Element invisible causes scrollbars when it really shouldn't.
 Label wrapper is unnecessary in this location
 */
.mb-preview .media-item .contextual-links-wrapper,
.mb-preview .media-item .element-invisible,
.mb-preview .media-item .label-wrapper {
  display: none;
}

.mb-preview .media-item img {
  height: auto;
  width: 50px;
}

/* Pager */
.pager {
  margin: 1em 0;
  border-top: 1px solid lightgray;
  padding-top: 0.5em;
  text-align: center;
}

.pager button {
  padding: 0px 5px;
}

/* File Edit panel */
.mb-actions-edit,
.mb-actions-delete {
	color:#4E84C4;
}

.mb-actions-edit:hover,
.mb-actions-delete:hover {
	cursor:pointer;
	text-decoration:underline;
}

div[file-edit] .control button {
	margin-right: 0 !important;
}


div[file-edit].open {
  display: block;
  width: 70%;
  -webkit-box-shadow: -8px 9px 5px -4px rgba(0,0,0,0.41);
-moz-box-shadow: -8px 9px 5px -4px rgba(0,0,0,0.41);
box-shadow: -8px 9px 5px -4px rgba(0,0,0,0.41);
}

div[file-edit] input {
  margin-bottom: 1em;
  width: 95%;
}

div[file-edit] button {
  padding: 3px 5px;
}

#file-delete-section {
  display: none;
  padding: 10px;
  position: absolute;
  width: 300px;
  top: 100px;
  bottom: 100px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px;
}

#fe-file-display-warning { 
  width: 110px;
  height: 30px;
  background: url('images/ic_find_replace_48px-20.png') no-repeat 3px 4px #DFE7FF;
  border: none;
  padding-left: 23px;
  font-size: .95em;
  margin-bottom: 10px;
  color: #034A9D;
  text-decoration: underline;
  border: 1px solid #4E84C4;
}

#file-delete-section.open {
  display: block;
}

div[file-edit] .fe-warning ~ .control {
display:none;
}

div[file-edit] .fe-warning.ng-hide ~ .control {
display:block;
}

/** Uploading styles */

#media-browser-file-select {
  height: 20px;
  width: 130px;
  position: absolute;
  top: 50%;
  left: 39%;
  border: 1px outset lightgray;
  border-radius: 10px;
  font-size: 1.1em;
  text-align: center;
  margin-right:0 !important;
}

#drag-text {
	position: absolute;
    top: 40%;
    left: 39%;
    font-size: 1.2em;
}

#media-browser-drop-box {
  height: 450px;
  width: 100%;
  margin-top: 8%;
  border: 2px dashed #ccc;
}

.media-browser-dupe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 20px;
}

#media-browser-upload-progress {
  width: 180px;
  position: absolute;
  top: 20%;
  left: 38%;
}

.progress-bar-full {
  height: 1em;
  border: 1px solid lightgray;
  
}

.progress-bar-completed {
    background: url('images/loader3.gif') 0 no-repeat;
  height: 100%;

}


.media-browser-pane .help {
position: absolute;
  top: 63%;
  left: 16%;
  width: 500px;
  border: 1px solid #ccc;
  padding: 10px;
  background: #efefef;
}

#media-browser-rejected {
  position: absolute;
  top: 63%;
  left: 16%;
  width: 500px;
  padding: 10px;
}


.help_icon {
  background: url('../../../../themes/os_basetheme/images/scholarbase-sprite.png') no-repeat 0 -150px;
  width: 20px;
  height: 20px;
  text-indent: -10em;
  display: inline-block;
  overflow: hidden;
}


/**
 * Dialog stuff
 */
.ui-dialog-titlebar {
  display: none;
}