
body {
    -moz-osx-font-smoothing: grayscale;
}
.tweet-divider,
.tweet-authorphoto,
.tweet-author {
    display: none;
}
body,
.page-search .title a,
#content-column .block.block-boxes-os_boxes_manual_list .links.inline a,
.more-link,
.links a,
#footer ul.menu a,
.boxes-box-content h2,
.section-nav a,
#tinymce h2,
#tinymce h3,
#tinymce h4,
.block-boxes-os_taxonomy_fbt.navigation,
#footer ul.menu li ul li a,
.date-nav h3,
.front-top-featured h1.node-title,
.node-title {
    font-family: 'Quattrocento', sans-serif !important;
}
.node-type-page .breadcrumb,
.breadcrumb,
.breadcrumb a,
.region-header-third ul.nice-menu a,
#menu-bar ul.nice-menu a,
#footer ul.menu li a,
#boxes-box-site_info,
#boxes-box-site_info a,
h2.block-title,
#content-column h2,
#content-column h3,
#content-column h4,
#page-title,
.front .ui-tabs .ui-state-default a {
    font-family: 'Oswald', sans-serif !important;
}
.pager.mini-pager {
    font-size: .8em;
}
body,
body.not-front {
    font-size: 16px;
}
.front #content-panels .region-content-bottom {
    font-size: 1.3em;
}
body {
    color: #222;
}
.front #content-panels .region-content-first,
.front #content-panels .region-content-bottom,
.front-top-cloumn .region-two-66-33-second,
#footer .footer-login {
    color: #ffffff;
}
.front #columns {
    padding-top: 0;
    margin-top: 46px;
}
#main-content-header {
    height: 120px;
    margin-top: 50px;
    display: table;
}
.page-node #main-content-header {
    margin-top: 55px;
}
.node-type-biblio #main-content-header {
    margin-top: 42px;
}
#main-content-header h1#page-title {
    display: table-cell;
    vertical-align: middle;
}
.front #content-panels .region-content-first {
    background-color: #e2e2e2;
    padding-top: 10px;
}
h1#page-title,
h2.block-title {
    color: #545454;
}
#content-column h2,
#content-column h3,
#content-column h4 {
    font-weight: 300;
}
#content-column h2.block-title {
    font-weight: 400;
}
.region-content-second h2.block-title:first-child {
    margin: 18px 0 23px;
}
.more-link:after {
    background-image: url('../images/sprite.png?456');
    background-position: 0 -126px;
    background-size: 60px auto;
    height: 12px;
    width: 20px;
    right: -12px;
}
.sidebar .block {
    border-top-style: solid;
    border-width: 3px;
}
#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover,
#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active,
.front .region-content-second,
body.node-type-biblio .biblio-export,
#citation-wrapper {
    background-color: #f6f6f6;
}
#footer ul.menu li a,
.biblio-title a,
.biblio-title-chicago a {
    font-weight: normal !important;
}
.sidebar h2.block-title {
    padding: 15px 0;
    font-weight: 300;
}
.block-boxes-os_boxes_addthis .boxes-box-content,
.ui-tabs {
    padding: 0;
}
/* fontpage blocks*/

.front .sv-list-view-slide_teaser .os-slider {
    padding: 8px;
    background-color: #f6f6f6 !important;
}
.front .sv-list-biblio.sv-list-view-slide_teaser .biblio-abstract-display.os-slider {
    background: #eee !important;
}
#content-panels .front-lop-blockgrid .block-inner {
    margin-top: 5px;
    padding: 0 12px;
}
h1#page-title {
    font-size: 1.75em;
    line-height: 1.2em;
}
h3 {
    margin-bottom: 7px;
    font-weight: 300;
}
#powerby-login,
#columns,
.node-person.node-teaser .field-name-field-person-photo,
.block-boxes-os_boxes_tabs .ui-widget,
.front .region-content-top .block-boxes-os_boxes_columns + .block-inner {
    margin-top: 0;
}
.front-top-cloumn .region-two-66-33-second {
    background: url('../images/working-paper_image.jpg?123') center right no-repeat;
    background-size: cover;
    margin: 0;
    box-shadow: inset 0 0 0 1000px rgba(0, 35, 45, .5);
    display: table;
}
#footer .footer-login:after,
#footer .footer-login {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    text-shadow: none;
}
.front-top-featured {
    padding: 0 30px;
}
.front-top-cloumn .region-two-66-33-first {
    margin: 0;
    background: url('../images/homepage-left.jpg') center right no-repeat;
    background-size: cover;
    display: table;
}
.front-top-cloumn .region-two-66-33-first .region-inner,
.front-top-cloumn .region-two-66-33-second .region-inner {
    vertical-align: middle;
    display: table-cell;
}
.front-four-lops .mini-pager,
.front-four-lops .more-link {
    position: absolute;
    bottom: 10px;
}
.front-four-lops .more-link {
    font-size: .85em;
    right: 20px;
}
.item-list .pager li {
    padding: 0.2em;
}
.sidebar .block:nth-child(2) {
    border-color: #81b9c3;
}
.sidebar .block:nth-child(3) {
    border-color: #E67939;
}
.sidebar .block:nth-child(1),
.sidebar .block:nth-child(4) {
    border-color: #3A4B68;
}
.block-boxes-os_search_solr_more_like_this {
    border-color: #E45947 !important;
}
.ui-tabs ul.ui-tabs-nav {
    margin-bottom: 20px;
}
.front .region-content-second,
#citation-wrapper,
body.node-type-biblio .biblio-export,
.front .sv-list-biblio.sv-list-view-slide_teaser .biblio-abstract-display.os-slider,
.not-front .gkplus-show-heading.depth-2 h2,
.ui-state-default:hover,
.ui-widget-content .ui-state-default:hover,
.ui-widget-header .ui-state-default:hover,
.ui-tabs .ui-widget-header .ui-state-active,
.ui-tabs .ui-tabs-panel,
.ui-tabs ul.ui-tabs-nav li.last,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border: none;
}
.ui-tabs ul.ui-tabs-nav li.ui-tabs-active a,
.front .ui-tabs .ui-state-default a {
    font-weight: 400;
    letter-spacing: 0;
    padding: 17px 12px;
    font-size: 1.25em;
    color: #545454;
}
.ui-tabs ul.ui-tabs-nav li.ui-tabs-active {
    border-top: 4px solid #ff884d;
}
.node-biblio table.os-files-other-list {
    margin-bottom: 0;
}
.node-type-page .breadcrumb,
.breadcrumb,
.breadcrumb span,
.breadcrumb a {
    color: #FFF !important;
}
.breadcrumb {
    position: relative;
    top: 68px;
    z-index: 1;
}
.page-node .breadcrumb {
    top: 57px;
}
.bg-one {
    background: url('../images/bg1.jpg?457') center -110px no-repeat;
}
.bg-two {
    background: url('../images/bg2.jpg') center -110px no-repeat;
}
.bg-three {
    background: url('../images/bg3.jpg') center -110px no-repeat;
}
.bg-four {
    background: url('../images/bg4.jpg') center -110px no-repeat;
}
.bg-five {
    background: url('../images/bg5.jpg') center -110px no-repeat;
}
.bg-six {
    background: url('../images/bg6.jpg') center -110px no-repeat;
}
.bg-seven {
    background: url('../images/bg7.jpg') center -110px no-repeat;
}
.bg-eight {
    background: url('../images/bg8.jpg') center -110px no-repeat;
}
.front #content-panels .region-content-bottom {
    background: url('../images/front-page-twitter-bg3.jpg?12345') center -30px no-repeat;
    background-size: 100%;
}
.front #content-panels .region-content-bottom a {
    color: #7cabd8;
}
.block-boxes-os_boxes_twitterfeed h2.block-title {
    background: url('../images/sprite.png?456') 0 -55px no-repeat;
    font-size: 0;
    height: 50px;
    width: 64px;
    padding: 0;
}
.tweets-pulled-listing li {
    margin: 10px 0 25px;
}
.biblio-title a,
a,
a:visited {
    color: #065DB2;
}
#menu-bar {
    position: fixed !important;
    background: url('../images/menu-bg.png?m=1470430593') repeat-x #FFF;
    background-position: left top;
    padding-top: 6px;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 1;
    opacity: 1;
    transition: all .250s linear .250s;
}
#menu-bar.fixed {
    border-bottom: 1px solid #32526e;
}
#menu-bar ul.nice-menu a {
    color: #444;
    border-bottom: 3px solid #fff;
    padding: 16px 14px 13px 14px;
    transition: all .125s linear .125s;
    -webkit-transition: all .125s linear .125s;
    font-size: 19px;
}
#menu-bar ul.nice-menu a.active,
#menu-bar ul.nice-menu a:hover,
#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active {
    border-bottom: 3px solid #32526e;
    color: #444;
}
#menu-bar ul.nice-menu a:hover,
#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover {
    padding: 13px 14px 16px 14px;
}
#block-os-primary-menu .nice-menu li.last a {
    padding: 16px 22px 13px 22px;
    background: url('../images/sprite.png?456') no-repeat 3px 8px #065DB2;
    font-size: 0;
    border-bottom: 3px solid #065DB2;
}
@media all and (-ms-high-contrast: none) {
    *::-ms-backdrop,
    #block-os-primary-menu .nice-menu li.last a {
        padding: 16px 22px 36px 22px;
    }
}
#block-os-primary-menu .nice-menu li.last a:hover {
    cursor: pointer;
}
ul.nice-menu-down,
#block-os-primary-menu {
    float: right;
}
#block-boxes-site-info {
    float: left;
    width: 13% !important;
}
#boxes-box-site_info h1 {
    padding: 8px 0 8px 12px;
}
#block-boxes-solr-search-box {
    position: absolute;
    top: 60px;
    right: 0;
    padding: 15px 0 15px 15px;
    background-color: #c7c7c7;
}
#search-block-form .form-item label {
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}
#footer {
    background-color: #3e464d;
    border-top: 4px solid #999;
}

.bio-teaser-block2 p,
.research-by-topic .term-head {
    font-size: 1.2em;
    padding-bottom: 5px;
    text-align: center;
}
.bio-teaser-block2 p {
    font-size: 1.4em;
    line-height: 1.2em;
    margin-top: 1.2em !important;
    text-align: left;
}
.region-content-top .bio-teaser-block2 p {
    margin: 1.3em 1.3em 0 !important;
}
.region-content-top .bio-teaser-block2 a.os-front-bio_link {
    text-decoration: none !important;
    padding-right: 28px;
    background: url("../images/sprite.png?456") 145px -109px no-repeat;
}
.region-content-top .bio-teaser-block2 a.os-front-bio_link:hover {
    background-position: 150px -109px;
}
.bio-teaser-block2 a.os-front-bio_link {
    text-decoration: none !important;
    padding-right: 28px;
    background: url("../images/sprite.png?456") 80px -207px no-repeat;
    transition: all .250s;
    -webkit-transition: all .125s;
    border-bottom: 1px solid #fff;
}
.os-cvlink {
    color: #fff !important;
    padding: 2px 7px;
    border-radius: 3px;
    text-decoration: none !important;
    display: block;
    width: 150px;
    background: url("../images/sprite.png?456") 138px -109px no-repeat #065DB2;
}
.research-by-topic ul .item-list ul li .description {
    transition: all .250s;
    -webkit-transition: all .250s;
    padding: 5px 10px 10px 12px;
    z-index: 1;
    position: relative;
    top: 5px;
    transition: all .250s;
}
.research-by-topic ul .item-list ul li.open .description {
    /* top: -5px; */
    
    height: auto;
    overflow-y: scroll;
    max-height: 300px;
}
#citation-wrapper {
    margin-bottom: 0;
    padding-bottom: 0;
    border-top: 3px solid #81b9c3;
}
.biblio-upload-wrapper .os-files-other-list tr {
    display: inline-block;
}
.os-files-other-list tr,
.os-files-other-list td,
.biblio-upload-wrapper {
    background-color: #EAEAE6;
}
.os-files-other-list tr td.size {
    width: 41px;
    text-align: center;
}
.contextual-controls-wrapper {
    top: 80px;
}
.page-node.node-type-biblio {
    top: 50px;
}
.front .contextual-controls-wrapper {
    top: 300px;
}
.twitter-followme {
    text-align: center;
}
#footer {
    padding: 10px 0 10px;
}
#footer ul li.leaf {
    display: inline;
}
#footer ul.menu li a {
    border-right: 1px solid #fff;
    padding-right: 8px;
}
#footer ul.menu li.last a {
    border-right: none;
    padding-right: 22px;
    background: url("../images/sprite.png?456") 80px -250px no-repeat;
}
#footer ul.menu {
    text-align: right;
}
.region-footer .region-inner {
    padding-top: 10px;
    padding-bottom: 10px;
}
.field-name-field-biblio-image {
    width: 55px;
}
.logged-in .view-content ~ .item-list ul.pager li {
    border: none !important;
}
@-moz-document url-prefix() {}
/* RESPONSIVE CSS - UNTIL I CAN FIGURE OUT WHY GARYKING RESP CSS FILE WONT LOAD */

@media (max-width: 1024px) {
    #boxes-box-site_info h1 {
        font-size: 28px;
    }
    #menu-bar ul.nice-menu a {
        font-size: 16px;
    }
    /* #menu-bar #block-os-primary-menu a.active,
    #menu-bar #block-os-primary-menu a:hover,
    #menu-bar #block-os-primary-menu a:focus {
        background-color: #303030!important;
    }*/
    
    .region-content-top .bio-teaser-block2 p {
        font-size: 1.24em;
    }
    #block-boxes-solr-search-box.opened.opened {
        opacity: 1;
        width: 40% !important;
    }
}
/*--------------------------------------------------------*/

@media (max-width: 768px) {
    body {
        overflow-y: hidden;
    }
    #boxes-box-site_info {
        margin-left: 0;
    }
    #block-boxes-solr-search-box {
        top: 38px;
    }
    .sidebar {
        margin-top: 0 !important;
    }
    .bg-one,
    .bg-two,
    .bg-three,
    .bg-four,
    .bg-five,
    .bg-six,
    .bg-seven,
    .bg-eight {
        background-position: center 75px;
        background-size: 100% 3%;
    }
    .block-boxes-os_boxes_columns.front-top-cloumn .at-panel,
    .block-boxes-os_boxes_columns .at-panel {
        padding: 0;
    }
    .front .block-boxes-os_boxes_twitterfeed {
        padding: 10px 10px 20px 10px;
    }
    #main-content-header,
    .research-by-topic li.term-applications,
    .research-by-topic li.term-methods,
    h1#page-title {
        width: 100%;
    }
    .front .block-boxes-os_sv_list_box {
        width: 97% !important;
    }
    .front-four-lops .mini-pager {
        margin-bottom: 10px;
        bottom: 0;
    }
    .region.region-footer-first {
        width: 45% !important;
    }
    .region.region-footer {
        width: 54% !important;
    }
    #menu-bar {
        position: relative !important;
    }
    #menu-bar,
    #menu-bar.fixed {
        border-bottom: none;
    }
    #menu-bar #block-os-primary-menu a.active {
        background-color: #303030!important;
    }
    #boxes-box-site_info h1 {
        padding: 0;
    }
    #block-os-primary-menu .nice-menu li.last a {
        display: none !important;
    }
    #main-content-header,
    .front #columns {
        margin-top: 0;
    }
    .front .content-left.content-right.content-bottom #content-panels .region {
        margin-bottom: 2px;
    }
    .sidebar {
        margin-top: 0;
    }
    .front #content-panels .region-content-bottom {
        background-size: cover;
    }
    .breadcrumb {
        top: 30px;
    }
    .page-node .breadcrumb {
        top: 32px;
    }
    .front .region-content-second {
        padding-top: 0;
    }
}
@media (max-width: 736px) {
    .bg-one,
    .bg-two,
    .bg-three,
    .bg-four,
    .bg-five,
    .bg-six,
    .bg-seven,
    .bg-eight {
        background-position: center 75px;
        background-size: 100% 7%;
    }
}
@media (max-width: 600px) {
    .research-by-topic li.term-applications,
    .research-by-topic li.term-methods {
        float: none;
        width: 100%;
    }
    .region.region-footer-first,
    .region.region-footer {
        width: 100% !important;
    }
    #footer ul.menu {
        text-align: left;
    }
}
@media (max-width: 479px) {}
/* TO BE REMOVED */

img.file-icon {
    width:16px;
}
@media (max-width: 414px) {
    .front-top-cloumn .region-two-66-33-first {
        background-position: 70% center;
    }
    .bg-one,
    .bg-two,
    .bg-three,
    .bg-four,
    .bg-five,
    .bg-six,
    .bg-seven,
    .bg-eight {
        background-position: center 60px;
        background-size: 100% 5%;
    }
    #block-boxes-solr-search-box.opened.opened {
        width: 99% !important;
    }
    .front .block-boxes-os_sv_list_box {
        width: 94% !important;
    }
}
@media (max-width: 320px) {
    .bg-one,
    .bg-two,
    .bg-three,
    .bg-four,
    .bg-five,
    .bg-six,
    .bg-seven,
    .bg-eight {
        background-position: center 65px;
    }
}