@media (max-width: 1008px) {
		
.link-count-mobi-main a {
    background-color: #857b6f;
    color: #FFFFFF;
}
.link-count-mobi-search a,
.link-count-mobi-util a {
    background-color: #857b6f;
}

/*Dropdown menu*/
#menu-bar {
    background: none!important;
}
#menu-bar,
#menu-bar ul.nice-menu a.active, 
#menu-bar ul.nice-menu a:hover,
#menu-bar #block-os-primary-menu{
    background:  #696259;

}

#menu-bar #block-os-primary-menu a:hover,
#menu-bar #block-os-primary-menu a:focus{
	background-color:#303030!important;
}
#menu-bar {
  
    padding: 0;
}
#menu-bar ul.nice-menu ul {
    background:  #696259 !important;
}

#menu-bar #block-os-primary-menu li {
    border-bottom: #696259 !important;
    border-top: #696259 !important;
        display: block;
}

.region-header-third .os-custom-menu.opened,
.region-header-third #block-os-secondary-menu.opened {
    background-color: #696259 !important;
}
.region-header-third .os-custom-menu li,
.region-header-third #block-os-secondary-menu li{
    border-bottom: 696259 !important;
    border-top: 696259 !important;
    margin-left:0!important;
}
}

/*--------------------------------------------------------*/
@media (max-width: 768px) {


}