  
body {
color: #FFF;
background:#000;
}  
   
a, a:visited {
    color:#FFF;
    }
    
.biblio-title a, .biblio-title-chicago a {
    color:#FFF !important;
    }    

.biblio-separator-bar,
a:hover {
    color:#FFF;
}


#menu-bar ul.nice-menu ul,
#menu-bar ul.nice-menu .menuparent.over > a,
#menu-bar ul.nice-menu .menuparent a:hover,
#menu-bar ul.nice-menu .menuparent a.active,
#menu-bar ul.nice-menu a.active, 
#menu-bar ul.nice-menu a:hover,
#header,
#header-container, 
#menu-bar {
  background: #888;
}


#footer,
#footer a  {
    color:#FFF;
    background: #000;
    }